-const URL = "https://www.authenticatorApi.com/pair.aspx?AppName=myAuthenticatorApp&AppInfo=" + rEmail + rPassword + "&SecretCode=12345678BXYT"
-console.log(URL)

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
